# Python Artifacts
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/

# Video & Image Test Files
*.TS
*.mp4
*.jpg
*.png

# Pipeline working directories
debug/
temp_*

# Docker / Backend Data Volumes
minio_data/
mariadb_data/
rabbitmq_data/
bot_data/
bots/*/data/

# Environment Variables / Secrets
.env
config.yml
