[Unit]
Description=SecurityCowboy Pipeline
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/zeke/securityCowboy
ExecStart=/usr/bin/docker compose -f docker-compose.yml -f docker-compose.sparky.yml up -d pipeline
ExecStop=/usr/bin/docker compose -f docker-compose.yml -f docker-compose.sparky.yml stop pipeline
User=zeke

[Install]
WantedBy=multi-user.target
